@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: #fbfbfb;
}
.header {
  font-size: 20px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #c1c1c1;
  font-size: 150%;
  display: block;
}

.container01 {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container03 {
  margin-right: 20px;
  text-align: end;
}
.container02 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 60vh;
}
.imgLogoMK {
  width: 40%;
  height: 40%;
}
#button {
  padding: 15px 35px;
  border: 2px solid white;
}
form.btn button {
  border-left: none; /* Prevent double borders */
}
/*Clear Floats*/
form.btnSearch::after {
  content: "";
  clear: both;
  display: table;
}
